body{
    font-family: Roboto,sans-serif;
    background-color: #fafbfc!important;
    color: #2a2e34;
    margin: 0 auto;
    padding: 0px;
}

*::-webkit-scrollbar {
    width: 2px;
    height:5px
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);       
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(134, 133, 133);    
    border-radius: 20px;    
  }